<<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>DENIME LOGへようこそ!</h1>
        <h4>あなたの大切なデニムを記録しよう</h4>
        <a href="" class="btn btn-success btn-lg">DENIME LOGをはじめる</a>
      </div>
    </div>
  </div>
<% end %>